.card {
  border-radius: 10px;
  border: 1px solid #000000;
  box-shadow: 4px 5px 4px #000000;
  min-height: 425px;
  width: 328px;
}
.header {
  font-size: 36px;
  color: #0c0c0c;
  background-color: #E8E8E8;
  height: 105px;
}
